# Структура данных в DataFrame

In [1]:
import numpy as np
import pandas as pd

### DataFrame - двумерная структура данных библиотеки Pandas

In [24]:
df = pd.DataFrame(
    
    {
        'Первая колонка':['a', 'b','d', 'd', 'e', 'f', 'g', 'h'],
        'Col2':[1,3,5,7,9,11,72,15]
    },
    
    columns=['Первая колонка', 'Col2']  
    
    )
df

  Первая колонка  Col2
0              a     1
1              b     3
2              d     5
3              d     7
4              e     9
5              f    11
6              g    72
7              h    15

In [25]:
df.shape # покажет что тут 8 строк и 2 столбца

(8, 2)

In [26]:
df.columns

Index(['Первая колонка', 'Col2'], dtype='object')

In [27]:
df.index

RangeIndex(start=0, stop=8, step=1)

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 2 columns):
Первая колонка    8 non-null object
Col2              8 non-null int64
dtypes: int64(1), object(1)
memory usage: 256.0+ bytes

In [29]:
df.describe()

            Col2
count   8.000000
mean   15.375000
std    23.311171
min     1.000000
25%     4.500000
50%     8.000000
75%    12.000000
max    72.000000

In [32]:
df.head(3)

  Первая колонка  Col2
0              a     1
1              b     3
2              d     5

In [33]:
df.tail(2)

  Первая колонка  Col2
6              g    72
7              h    15

In [35]:
df['Col2'].head(3)

0    1
1    3
2    5
Name: Col2, dtype: int64

In [36]:
df.Col2.head(5)

0    1
1    3
2    5
3    7
4    9
Name: Col2, dtype: int64

### Изменим индекс

In [37]:
df.index = [2,4,6,8,10,12,14,16]
df

   Первая колонка  Col2
2               a     1
4               b     3
6               d     5
8               d     7
10              e     9
12              f    11
14              g    72
16              h    15

### Выбрать данные по индексу

In [38]:
df.loc[2, 'Col2']

1

In [39]:
df.loc[4, 'Первая колонка']

'b'

In [40]:
df.loc[2, :] # Выбрать всю строку

Первая колонка    a
Col2              1
Name: 2, dtype: object

In [41]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [42]:
from __future__ import braces

SyntaxError: from __future__ imports must occur at the beginning of the file (<ipython-input-42-6d5c5b2f0daf>, line 4)