## Создание данных
## Просмотр данных
## Изменение элементов
## Добавление и удаление данных
## Запись и чтение данных из файла

In [5]:
import pandas as panda
import numpy as np
from datetime import date

a = [2,3,4,5,6]
b = panda.Series(a)
b

0    2
1    3
2    4
3    5
4    6
dtype: int64

In [8]:
b = panda.Series(a, index = ['a', 'b', 'c', 'd', 'e'])
b

a    2
b    3
c    4
d    5
e    6
dtype: int64

Индексы могут быть любые даже даты

In [9]:
ind = [date(y,m,d) for y,m,d in [(2018,1,17), (2018,1,18), (2018,1,19), (2018,1,20), (2018,1,21)]]
b = panda.Series(a, index = ind)
b

2018-01-17    2
2018-01-18    3
2018-01-19    4
2018-01-20    5
2018-01-21    6
dtype: int64

In [10]:
b.index

Index([2018-01-17, 2018-01-18, 2018-01-19, 2018-01-20, 2018-01-21], dtype='object')

In [13]:
b.index[0].year # month | day

2018

In [15]:
b.index = panda.to_datetime(b.index, format = '%Y-%m-%d')
b.index

DatetimeIndex(['2018-01-17', '2018-01-18', '2018-01-19', '2018-01-20',
               '2018-01-21'],
              dtype='datetime64[ns]', freq=None)

In [16]:
b.index.year

Int64Index([2018, 2018, 2018, 2018, 2018], dtype='int64')

In [17]:
b = panda.Series(a, dtype = np.float64)
b

0    2.0
1    3.0
2    4.0
3    5.0
4    6.0
dtype: float64

In [18]:
b = panda.Series(a)
b = b.astype(np.float64)
b

0    2.0
1    3.0
2    4.0
3    5.0
4    6.0
dtype: float64

In [22]:
d = {'mama': '1', 'papa': '2', 'sasha': '3', 'tema': '4'}
dic = panda.Series(d)
dic

mama     1
papa     2
sasha    3
tema     4
dtype: object

In [23]:
dic.index

Index(['mama', 'papa', 'sasha', 'tema'], dtype='object')

In [25]:
dic.values # посмотреть в виде массива np

array(['1', '2', '3', '4'], dtype=object)

In [26]:
dic[[0,2,3]]

mama     1
sasha    3
tema     4
dtype: object

In [28]:
dic.head(3) # по умолчанию покажет первые 5 элементов (если без параметров)

mama     1
papa     2
sasha    3
dtype: object

In [29]:
dic.tail()

mama     1
papa     2
sasha    3
tema     4
dtype: object

In [30]:
dic.tail(1)

tema    4
dtype: object

In [32]:
b[b > 3]

2    4.0
3    5.0
4    6.0
dtype: float64

In [105]:
b[(b == 7) | (b%3 == 0)]

10    0
11    0
dtype: int64

### Изменение элементов

In [106]:
b = panda.Series([5,2,4,5,6,7,8,9,5,4,1,2])
b

0     5
1     2
2     4
3     5
4     6
5     7
6     8
7     9
8     5
9     4
10    1
11    2
dtype: int64

In [107]:
b[(b > 4)| (b%3 == 0)]

0    5
3    5
4    6
5    7
6    8
7    9
8    5
dtype: int64

In [108]:
b [b < 5] = 0 # все числа меньше 5 приравнять нулю
b

0     5
1     0
2     0
3     5
4     6
5     7
6     8
7     9
8     5
9     0
10    0
11    0
dtype: int64

In [109]:
b[0,1,2] = 5 # приравниваем 5 элементам под индексом 0,1,2

In [110]:
b

0     5
1     5
2     5
3     5
4     6
5     7
6     8
7     9
8     5
9     0
10    0
11    0
dtype: int64

### Добавление данных

In [111]:
b = b.append(panda.Series({6:10, 7:15, 9:14, 3:21}))
b

0      5
1      5
2      5
3      5
4      6
5      7
6      8
7      9
8      5
9      0
10     0
11     0
6     10
7     15
9     14
3     21
dtype: int64

In [112]:
b = b.drop(3)
b

0      5
1      5
2      5
4      6
5      7
6      8
7      9
8      5
9      0
10     0
11     0
6     10
7     15
9     14
dtype: int64

In [113]:
# b = b.drop(b.index[[1,3]])
b = b.drop([8,7])
b

0      5
1      5
2      5
4      6
5      7
6      8
9      0
10     0
11     0
6     10
9     14
dtype: int64

## Запись и чтение данных из файла

In [115]:
b.to_pickle('b.pkl')

In [116]:
b2 = panda.read_pickle('b.pkl')
b2

0      5
1      5
2      5
4      6
5      7
6      8
9      0
10     0
11     0
6     10
9     14
dtype: int64